<%- include('../partition/admin_header.ejs') %>

<section class="display">
  <div class="container-fluid mt-5">
    <div class="container mt-5">
      <div class="row justify-content-center mt-5 py-5">
        <div class="col-md-12 shadow-lg display-box">
          <h1 class="text-center text-danger mt-3">List of Pending Applications</h1>
          <table class="table text-center mt-5">
            <thead>
              <tr>
                <th>ID</th>
                <th scope="col">Image</th>
                <th scope="col">Name</th>
                <th scope="col">Email</th>
                <th scope="col">Phone</th>
                <th scope="col">Course</th>
                
                <th scope="col">Status</th>
                <th scope="col">Comment</th>
                <th scope="col"></th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <% var i = 1 %>       
              <% data.forEach((a)=>{ %>
                <% if(a.status=="Pending") { %>
              <tr>
              <th scope="row"><%= i++ %></th>
              <td><img src="/upload/<%= a.image %>" class="img"></td>
              <td><%= a.name %></td>
              <td><%= a.email   %></td>
              <td><%= a.phone   %></td>
              <td><%= a.course %></td>
              
              <td><%= a.status %></td>

              <form action="/admin/update_status/<%= a._id %>" method="post">
              <td><textarea name="comment" rows="2" cols="20"></textarea></td>
              <td>
                <button type="submit" name="status" value="Rejected" class="btn btn-danger">Reject</button>
                <button type="submit" name="status" value="Accepted" class="btn btn-success" style="background-color: green; border-color:green">Accept</button>
              </td>
              </form>
              <td><a href="/admin/application_display/<%= a._id %>"><button class="btn">View</button></a></td>
              </tr>
              <% } %>
              <%  }) %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<%- include('../partition/admin_footer.ejs') %>
